$primary-accent: black;

$btn-default-bg: #fff !default;
$btn-default-bg-hover: #f3eeee !default;
$btn-default-bg-active: #dedede !default;

$btn-primary-bg: #02a7df !default;
$btn-primary-bg-hover: #35b9e6 !default;
$btn-primary-bg-active: #108bb4 !default;

$btn-info-bg: #01bbdd !default;
$btn-info-bg-hover: #3cc9e3 !default;
$btn-info-bg-active: #319db1 !default;

$btn-success-bg: #66cdd6 !default;
$btn-success-bg-hover: #8ce1e8 !default;
$btn-success-bg-active: #59b5bd !default;


$btn-warning-bg: #407a93 !default;
$btn-warning-bg-hover: #5191ac !default;
$btn-warning-bg-active: #396e85 !default;

$btn-lightprimary-bg: #ceedf8 !default;
$btn-lightprimary-bg-hover: #dcf1f8 !default;
$btn-lightprimary-bg-active: #d3e4ea !default;

$btn-lightinfo-bg: #fff !default;
$btn-lightinfo-bg-hover: #fff !default;
$btn-lightinfo-bg-active: #01bbdd !default;

$waiting-bg: #e5aa44;
$waiting-bg-hover: #f9be44;
$waiting-bg-active: #d19545;

$in-progress-bg: #44aae5;
$in-progress-bg-hover: #45bdf9;
$in-progress-bg-active: #4496d1;

$success-bg: #66d68d;
$success-bg-hover: #66eaa1;
$success-bg-active: #61c278;

$complaint-bg: #7923da;
$complaint-bg-hover: #8e23ee;
$complaint-bg-active: #6324c6;

$cancel-bg: #e54444;
$cancel-bg-hover: #f94747;
$cancel-bg-active: #d14444;

$payed-bg: #7923da;
$payed-bg-hover: #8c23ee;
$payed-bg-active: #6523c6;

$not-payed-bg: #aa3243;
$not-payed-bg-hover: #be3142;
$not-payed-bg-active: #963344;

$confirmed-bg: #add666;
$confirmed-bg-hover: #c1ea66;
$confirmed-bg-active: #98c262;

$success-text-color: #7afa78;
$failed-text-color: #bd0000;
