@import "../../../static/styles/variables";
@import "../../../static/styles/mixins";

.EditPoolForm {
  width: 700px;
  margin: auto auto;
  box-sizing: border-box;
  padding: 16px;

  @include isMobile {
    margin: 16px 16px auto;
    width: calc(100% - 32px);
    padding: 0;
  }

  &_box {
    border-radius: 16px;
    box-sizing: border-box;
  }
  &_SuccessMessage {
    margin-top: 16px;
    color:  white;

    & a {
      color:  var(--ui-acivated);
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include isMobile {
      flex-direction: column;
      height: 100%;
    }

    &__button {
      justify-self: flex-end;
    }

    &__status {
      display: flex;
      align-items: center;
      width: 350px;

      @include screen(notMobile) {
        min-height: 80px;
      }

      @include screen(tablet) {
        width: 250px;
      }

      @include screen(mobile) {
        width: 100%;
        padding-bottom: 30px;
      }

      &__title {
        font-size: 32px;
        @include screen(tablet) {
          font-size: 28px;
        }
        @include screen(mobile) {
          font-size: 24px;
        }
      }


      &__icon {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        & > svg {
          height: 70px;
        }

        @include screen(mobile) {
          width: 50px;
          height: 50px;
          & > svg {
            height: 50px;
          }
        }
      }

      &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 16px;
        color: #fff;

      }

      &__text {
        color: #fff;
        font-size: 16px;
        & > a {
          color: #FFFFFF;
          text-decoration: underline;
          font-weight: 500;
        }
      }
    }
  }
}
