@import "../../static/styles/mixins";

.SwitchChain {
  background: #151721;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 660px;
  padding: 44px 44px 52px 44px;

  @include isMobile {
    width: 100%;
    padding: 20px;
  }

  @include screen(tablet) {
    width: 460px;
    padding: 44px 32px 52px 32px;
  }


  &_title {
    font-style: normal;
    font-weight: 500;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 24px;

    @include isMobile {
      width: 100%;
      font-size: 32px;
    }

    @include screen(tablet) {
      font-size: 38px;
      line-height: 46px;
      margin-bottom: 16px;
    }

  }

  &_subtitle {
    font-style: normal;
    font-weight: 500;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    font-size: 26px;
    line-height: 29px;

    @include isMobile {
      width: 100%;
      font-size: 18px;
    }

    @include screen(tablet) {
      font-size: 20px;
      line-height: 22px;
    }

  }

  &_button {
    width: fit-content;
    border: 2px solid #0372C7;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;

    @include screen("(min-width: 1280px)") {
      height: 53px;
      padding: 16px 36px;
      font-size: 18px;
      line-height: 21px;
      margin-top: 44px;
    }

    @include screen("(max-width: 1279px)") {
      height: 53px;
      padding: 16px 36px;
      font-size: 18px;
      line-height: 21px;
      margin-top: 32px;
    }
  }

  &_close-icon {
    position: absolute;
    top: 20px;
    right: 16px;
  }

  &_warning-icon {
    @include screen("(min-width: 1280px)") {
      width: 56px;
      height: 56px;
      margin-bottom: 24px;
    }

    @include screen("(max-width: 1279px)") {
      width: 40px;
      height: 40px;
      margin-bottom: 16px;
    }
  }
}
