@import "../../../../../static/styles/mixins.scss";

.StarsBackgroundWrapper {
  width: 100%;
  background: radial-gradient(183.15% 117.92% at 73.88% 94.5%, #28009A 0%, #001426 65.89%);

  @include screen(mobile) {
    height: initial;
    min-height: initial;
  }
  &__stars {
    background: url("./img/space-bg.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 75px;

    @include screen(desktop) {
      padding: 0 100px;;
    }

    @include screen(tablet) {
      padding: 0 40px;
    }
    @include screen(mobile) {
      padding: 0 15px;
    }
    @include screen(extra) {
      padding-left: calc(50% - 900px) !important;
      padding-right: calc(50% - 900px) !important;
    }
  }

  &__container {
    margin: 0 auto;
    width: 65%;
    max-width: 760px;
    padding: 40px 0 40px;
    display: flex;
    flex-direction: column;


    @include screen(mobile) {
      margin: 0 auto;
      width: 100%;
      padding: 70px 25px 190px;
    }

  }
}