@import "../../../static/styles/variables";
@import "../../../static/styles/mixins";

.PoolsPage {

  &_create_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_box {
    border-radius: 16px;
    box-sizing: border-box;

    &_btn {
      cursor: pointer;
    }

    &_style {
      border: 1px solid rgba(255,255,255,0.5);
      border-radius: 20px;
    }
  }

  &_empty-list-container {
    width: 100%;
    height: 360px;
    border-radius: 20px;
    border: 1px solid #6B6C6E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 38px;
  }

  &_show-more {
    padding: 10px 0;
    display: flex;
    cursor: pointer;

    span {
      margin: auto 0;
      font-size: 14px;
    }
  }

  &__empty-block {
    padding: 20px 20px 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #fff;

    @include isMobile {
      padding: 80px 20px 150px 20px;
    }
  }

  &__empty-title {
    margin-bottom: 30px;
  }

  &__empty-message {
    font-size: 30px;
    line-height: 1;
    padding: 50px 60px;
    border: 2px solid #fff;
    border-radius: 80px;
  }

  &__empty-link {
    text-decoration: underline;
    font-weight: 700;
  }
}
